<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UVIT Septembar2 2019/2020</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <div>
          <h1 class="display-1">Rent-a-book!</h1>
          <nav>
            <a href="/">Home page</a>
          </nav>
          <hr />
        </div>
      </div>
      <div>
        <div>
          <form action="/rent/books" method="GET">
            <div>
              <label>Index:</label>
              <input type="text" name="index"/>
            </div>
            <button type="submit">
              Access your data or rent a book
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
